body{
  height: 100vh;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.tableau-style{
  border-collapse: collapse;
  min-width: 400 px;
  width: auto;
  box-shadow: 0 5px 50px rgba(0,0,0,15);
  cursor: pointer;
  margin: 100px auto;
  border: 2px solid #02153C;
}
thead tr  {
  background-color: #02153C;
  color: #CEFB03;
  text-align: left;
}

th {
  padding: 15px 10px;
}
.position, .team {
  padding: 1px 10px;
  color: #02153C;
  font-weight: bold;
}
.information {
  padding: 1px 10px;
  color: #02153C;
}

tbody tr, td, th {
  border: 1px solid #ddd;
}

tbody tr:nth-child(event){
  background-color: darkgrey;
}