body{
  height: 100vh;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.tableau-style4{
  border-collapse: collapse;
  width: auto;
  cursor: collapse;
  margin: 50px auto;
  width: 100%;
}

.row_info{
  background-color: #d6e3de;
  border-top: 2px solid #649F78;
  color: #959FA8;
  text-align: center;
}

.odds{
  padding : 10px 10px ;
  color: #F6423A;
}
.title_cote{
  font-weight: bold;
  color: #02153C;
  text-align: center;
  caption-side: top;
  background-color: #d6e3de;
}

.header_tab{
  border-bottom: 2px solid #ffff;
  background-color: #02153C;
}

.row_info .test {display: none;}
.row_info:hover .test{
  position:absolute;
  background-color: white;
  display:inline;
  border:2px solid green;
  left: 50%;
}