body{
    height: 100vh;
    font-family: Arial, Arial, Helvetica, sans-serif;
  }
 .Background{
    background-image: url('../images/football_terrain.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
 }
 .tableau-style5{
   margin: 10px auto;
   margin-top: 18px;
   font-size: 9px;
   color: #fff;
   font-weight:500;
 }
.Gk{
   text-align: center; 
}
.row_tab5 td{
   width: 55px;
   height: 2.5em;
   padding: 2px;
   text-align: center;
}
.DcG{
   vertical-align: top;
   
}
.DcD{
   vertical-align: top;
}

.tableau-style6{
   margin: 10px auto;
   font-size: 9px;
   margin-top: 2em;
   color: #fff;
   font-weight: 500;
 }
.pin{
   
}