body{
  height: 100vh;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.tableau-style{
  border-collapse: collapse;
  width: auto;
  cursor: collapse;
  margin: 100px auto;
  border: 3px solid #02153C;
}
.table_title  {
  background-color: #02153C;
  color: #CEFB03;
}
.row_info{
  background-color: #ffffff;
  color: #02153C;
}
.th_chiffre {
  padding: 15px 10px;
}
.th_team{
  text-align: center;
}
.position{
  text-align: center;
  font-weight: bold;
  border: 2px solid #f1f1f1;
}
.team{
  padding-left: 10px;
  width: 300px;
  font-weight: bold;
  border: 2px solid #f1f1f1;

}
.information {
  padding: 4px 0px;
  text-align: center;
  border: 2px solid #f1f1f1;
}

.team_name_W1{
  margin-left: 7px;
}
