body{
    height: 100vh;
    font-family: Arial, Arial, Helvetica, sans-serif;
  }
 .Background{
    background-image: url('../images/foot_terrain.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
 }
